<% include ../partials/header.ejs %>


<main class="container outer-semitransparent">
    <h1><%= survey.name %></h1>

    <!-- Form to collect survey answers -->
    <form method="post">
        <fieldset class="form-group">
            <label for="title" class="col-sm-2 col-md-offset-3">Category: <%= survey.category %></label>
        </fieldset>
        <!-- Survey body -->
        <div class="col-md-6 col-md-offset-3">
           
            <!-- Short Answer -->
             <div  class="list-group">
                <% for(var i=0;i<survey.shortAnswer1.length;i++) { %>
                <li class="list-group-item">
                    <fieldset class="form-group">
                        <label class="col-sm-12">Question <%=survey.shortAnswer1[i] %></label>
                        <fieldset class="form-group col-sm-12">
                            <textarea rows="3" cols="50" name="<%= i %>" placeholder="Answer Here" required></textarea>
                        </fieldset>
                    </fieldset>
                </li>
                <% } %>
            </div>
            <div  class="list-group">
                <% for(var i=0;i<survey.shortAnswer2.length;i++) { %>
                <li class="list-group-item">
                    <fieldset class="form-group">
                        <label class="col-sm-12">Question <%=survey.shortAnswer2[i] %></label>
                        <fieldset class="form-group col-sm-12">
                            <textarea rows="3" cols="50" name="<%= i %>" placeholder="Answer Here" required></textarea>
                        </fieldset>
                    </fieldset>
                </li>
                <% } %>
            </div>
            <div  class="list-group">
                <% for(var i=0;i<survey.shortAnswer3.length;i++) { %>
                <li class="list-group-item">
                    <fieldset class="form-group">
                        <label class="col-sm-12">Question <%=survey.shortAnswer3[i] %></label>
                        <fieldset class="form-group col-sm-12">
                            <textarea rows="3" cols="50" name="<%= i %>" placeholder="Answer Here" required></textarea>
                        </fieldset>
                    </fieldset>
                </li>
                <% } %>
            </div>
            <div  class="list-group">
                <% for(var i=0;i<survey.shortAnswer4.length;i++) { %>
                <li class="list-group-item">
                    <fieldset class="form-group">
                        <label class="col-sm-12">Question <%=survey.shortAnswer4[i] %></label>
                        <fieldset class="form-group col-sm-12">
                            <textarea rows="3" cols="50" name="<%= i %>" placeholder="Answer Here" required></textarea>
                        </fieldset>
                    </fieldset>
                </li>
                <% } %>
            </div>
            <div  class="list-group">
                <% for(var i=0;i<survey.shortAnswer5.length;i++) { %>
                <li class="list-group-item">
                    <fieldset class="form-group">
                        <label class="col-sm-12">Question <%=survey.shortAnswer5[i] %></label>
                        <fieldset class="form-group col-sm-12">
                            <textarea rows="3" cols="50" name="<%= i %>" placeholder="Answer Here" required></textarea>
                        </fieldset>
                    </fieldset>
                </li>
                <% } %>
            </div>
            
        </div>


        <!-- Submit answers -->
        <div class="add-bottom-padding">
        <button type="submit" class="col-sm-offset-5 btn btn-lg btn-success">Submit</button>        
        <a href="/takeSurvey/cancel/<%= survey._id %>" title="cancel" onclick="return ">
            <button type="button" class="btn btn-danger btn-lg" onclick="return confirm('go back without submission?');">Cancel</button>
        </a>
        </div>
    </form>
</main>


<% include ../partials/footer.ejs %>

\